body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;

    background-color: #5e5e5e;
}

#container {
    position: relative;
    height: 70vmin;
    width: 70vmin;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

table {
    border-collapse: collapse;
    border: 1px solid #5e5e5e;
    position: absolute;
    width: 50%;
    table-layout: fixed;

    padding-bottom: 50%;
    height: 50vw;

    margin-left: auto;
    margin-right: auto;
}

td {
    border: 1px solid #5e5e5e;
}

#score {
    font-family: 'Helvetica Neue';
    font-weight: 100;
    font-size: 5vmin;

    position: absolute;
    right: 0;
    margin-top: 0.3em;
}

/* SVG STYLING */

rect {
    cursor: pointer;
}

path, image, text, .square {
    pointer-events: none;
}
